<!-- 横長 -->
<div class="container">
    <div class="ad-sm">
        <!-- admax -->
        <script src="https://adm.shinobi.jp/s/0aeda80c3473407d83ddfb6b95f56a72"></script>
        <!-- admax -->
    </div>
    <div class="ad-pc">
        <!-- admax -->
        <script src="https://adm.shinobi.jp/s/e52e263ba4089ac7dda7ea6422e88edc"></script>
        <!-- admax -->
    </div>
</div>