<div class="container">
    <div class="ad-sm my-3">
        <!-- admax -->
        <script src="https://adm.shinobi.jp/s/a29b75be017e3580047737d3e1852c50"></script>
        <!-- admax -->
    </div>
    <div class="ad-pc my-3">
        <!-- admax -->
        <script src="https://adm.shinobi.jp/s/fff89724b8d5585041d2d8792986b837"></script>
        <!-- admax -->
        <!-- admax -->
        <script src="https://adm.shinobi.jp/s/86d55640ddcfe48c64c5e3db03c8f2a2"></script>
        <!-- admax -->
    </div>
</div>