<% content_for(:html_title) { 'このサイトの使い方' } %>
<div class="container">
    <h3>ボタンリストの使いかた</h3>
    ボタンリストは音声が鳴るボタンを作成して共有できるサイトです。
    効果音を鳴らしたいとき、暇なときにお使いください。
    <h4>ボタンの作成方法</h4>
    ※ボタンの作成にはユーザー登録が必要です
    <h4>いいね機能</h4>
    ログイン状態でボタン下のハートマークを押すと後から確認することができます。
    <h4>ボタンの公開設定について</h4>
    ボタン作成、編集画面からボタンの公開設定をすることができます。
</div>